.border-indigo-400 {
    border-color: #198754 !important;
}

a {
    color: 	#000000 !important;
    text-decoration: none;
  }

  a:hover{
    color: 	#198754 !important;
    text-decoration: none;
}

.margin40T{
  margin-top: 40px;
}

.label-danger {
  background-color: #d9534f;
}

.label-success {
  background-color: #5cb85c;
}