.border-indigo-400 {
    border-color: #198754 !important;
}

a {
    color: 	#000000 !important;
    text-decoration: none;
  }

  a:hover{
    color: 	#198754 !important;
    text-decoration: none;
}

.margin40T{
  margin-top: 40px;
}

.bg-primary {
  background-color: #015b41 !important;
}

.label-danger {
  background-color: #d9534f;
}

.label-success {
  background-color: #5cb85c;
}

.font-d{
  font-size: 65px !important;
  margin-left: 35px;
}

.padding20{
  padding: 20px;
}

.bg-warning{
  background-color: #fcf8e3 !important;
}