@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);

.bg-dark{
    background-color: rgb(238, 238, 238) !important;
}

.bg-green{
  background-color: #044d2b !important;
}

.bg-light-site{
  background-color: #f7f7f7 !important;
}

.text-right{
  text-align: right;
}

.midias-topo{
  height: 30px ;
}

#whatsapp {
  position: fixed;
  bottom: 30px;
  right: 25px;
  display: inline-block;
  width: 70px;
  z-index: 999;
  transition: all 500ms;
}



#whatsapp:hover{
  transform: scale(1.3);
  filter: brightness(115%);
}

.margin-midiasT{
  margin-top: -47px;
  margin-right: 150px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container, .footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.navbar form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .navbar form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.navbar form > button.logout:focus,
.navbar form > button.logout:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
}

.navbar form > button.logout:focus {
    outline: none;
}

.nav-link{
    color: #000 !important;
}

.nav-link.active{
    color: rgb(173 173 173) !important;
}


/* style breadcrumb widget as in previous bootstrap versions */
.breadcrumb {
    background-color: var(--bs-gray-200);
    border-radius: .25rem;
    padding: .75rem 1rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #212529;
}

.breadcrumb-item > a
{
    text-decoration: none;
}

.img-logo{
    height: 135px;
}

.box-lista-header {
    border-radius:12px;
    position:relative;
    padding:8px;
    overflow: hidden;
    margin-right:10px;
    background-color: rgb(255,255,255);
    box-shadow:1px 1px 1px rgba(0,0,0,.3);
  }
  
  .box-lista {
    border-radius:12px;
    position:relative;
    padding:20px;
    overflow: hidden;
    background-color: rgb(255,255,255);
    box-shadow:1px 1px 5px 1px rgba(0,0,0,.3);
  }
  
  .box-lista .imagem-lista {
    width:100%;
    height:260px;
    overflow:hidden;
  }
  
  .box-lista > .imagem-lista > img {
    width:100%;
    height:260px;
    object-fit: cover;
    object-position: center;
    clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
  }
  
  .box-lista .texto {
    padding:30px 30px 20px 20px;
    color:#000;
  }
  
  .box-lista .btn-status {
    position: absolute;
    right:-20px;
    top:-20px;
    border-radius:0 12px 0 18px;
    font-size:12px
  }
  
  .box-padding {
    padding:20px;
  }
  
  .box-lista hr {
    padding:0 !important;
    margin:15px 0 !important;
  }
  
  .box-lista-noticia {
    border-radius:12px;
    position:relative;
    overflow: hidden;
    height:540px;
    margin-bottom:30px;
    background-color: rgb(255,255,255);
    box-shadow: 0 10px 10px 10px rgb(0 0 0 / 7%);
  }


  .elemento-reuniao {
    margin: 0em 0em 0em 0em;
    padding: 11px 12px 13px 12px;
    background-color: #386A52;
    border-radius: 100px 100px 100px 100px;
  }

  .titulo-reuniao{
    color: #000000;
    font-size: 21px;
    font-weight: 500;
    line-height: 0;
    margin-top: 25px;
  }

  .agr{
    background: #1a1c20 none repeat center top;
    color: rgba(255, 255, 255, 0.3) !important;
  }

  .marginT-none{
    margin-top: 15px;
  }
  
  .box-lista-noticia .imagem-lista {
    width:100%;
    height:370px;
    object-fit: cover;
    object-position: center;
    overflow:hidden;
  }
  
  .box-lista-noticia img {
    width:100%;
    min-height:200px;
    object-fit: cover;
    object-position: center;
  }
  
  .box-lista-noticia .texto {
    padding:20px 30px;
    color:#000;
  }
  
  .box-lista-noticia hr {
    padding:0 !important;
    margin:15px 0 !important;
  }
  
  .box-lista-noticia h4 {
    color:rgb(0, 0, 0);
    font-size:1.35em;
    font-family:'Montserrat',sans-serif;
    margin:0 35px 10px 0;
  }
  
  .foto-view-pagina {
    display: inline !important;
    float: left !important;
    margin-right: 20px !important;
    margin-bottom: 10px !important;
    border-radius: 10px !important;
    width: 45% !important;
    height: auto !important;
}

.box-lista > .imagem-lista-membro > img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: center;
}

  .box-lista-noticia small {
    font-size:1em;
    line-height:1.2em;
    padding:0;
    margin:0;
    display:block;
  }
  
  .box-lista h4 {
    margin:0 0 20px 0 !important;
  }
  
  .box-lista > span {
    position: absolute;
    left:100px;
    top:-1px;
    background-color: rgb(8,96,164);
    color: #FFF;
    padding: 10px 20px 10px 10px;
    z-index: 2;
    font-size: 18px;
  }
  
  .box-lista p {
    margin-top:10px;
    overflow: hidden;
    text-overflow:ellipsis;
  }
  

  /*----- GALERIA DE FOTOS PADRÃO ----- */

.tns-outer {
  position: relative;
  overflow: hidden;
}

.tns-outer img {
  background-color: rgb(255,255,255);
  border-radius:8px;
  overflow: hidden;
}

.banner-capa .tns-outer img {
  border-radius:0;
}

.tns-controls {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}

.tns-nav {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  text-align:center;
  height:40px;
  z-index: 2;
}

.tns-controls button {
  background-color: #FFF;
  text-transform: uppercase;
  font-weight:bold;
  font-size:10px !important;
  border:1px solid rgb(220,220,220) !important;
  border-radius:3px !important;
  padding:4px 15px;
  height:10px;
}

.tns-controls button:hover {
  background-color: #FFF !important;
}

.tns-nav button {
  height: 2px !important;
  padding: 3px 10px !important;
  margin: 0 2px !important;
  background-color: #198754 !important;
  border-color: transparent !important;
}



  a {
    color: 	#000000 !important;
    text-decoration: none;
  }

  a:hover{
    color: 	#198754 !important;
    text-decoration: none;
}

.noticia-secundaria-menor{
  margin-top: 20px;
}

.home-noticia-principal {
  position:relative;
  width:100%;
  height:420px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  margin-bottom:20px;
  border-radius:14px;
}

.home-noticia-principal img {
  width:auto;
  min-width:100%;
  height:100%;
  object-position: center;
}

.home-noticia-principal strong h3 {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  margin:0;
  padding:20px 30px;
  background-color: rgba(0,0,0,.8);
  font-size:24px;
  line-height:28px;
  text-transform: uppercase;
  font-weight:bold;
  color:rgb(255,255,255);
  transition:all .3s ease;
}

.home-noticia-principal:hover strong h3 {
  padding:40px 30px;
}

#noticia-secundaria{
  margin-top: -20px;
}

#noticia-secundaria .col-ce1-12:nth-of-type(3) , #noticia-secundaria .col-ce1-12:nth-of-type(4) {
  margin-top:20px;
}

.home-noticia-secundaria {
  border-top:1px solid rgb(230,230,230);
  border-left:1px solid rgb(230,230,230);
  border-right:1px solid rgb(160,160,160);
  border-bottom:1px solid rgb(160,160,160);
  border-radius:12px;
  position:relative;
  overflow: hidden;
  height: 200px;
  margin-bottom:24px;
}

.home-noticia-secundaria img {
  width:100%;
  height:100%;
  object-position: center;
  overflow: hidden;
}

.home-noticia-secundaria h3 {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  margin:0;
  padding:20px 30px;
  background-color: rgba(0,0,0,.8);
  font-size:14px;
  line-height:18px;
  text-transform: uppercase;
  font-weight:bold;
  color:rgb(255,255,255);
  transition: all .2s ease;
}

.home-noticia-secundaria:hover h3 {
  padding:30px;
}

.home-noticia-secundaria p {
  padding:0 15px;
  font-size: 15px;
}

.home-noticia-secundaria p {
  margin-top:10px;
  overflow: hidden;
  text-overflow:ellipsis;
}

#noticia-lista {
  width: 100%;
}

.btn-padrao {
  color: rgb(50,50,50);
  border: 2px solid #198754;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  text-transform: uppercase;
  transition: all .2s ease;
}

.btn-padrao:hover {
  padding:8px 30px;
  border: 2px solid #044d2b !important;
  color: #000;
}

.breadcrumb-item.active {
  color: #ffffff;
}

.fc-event{
  background-color: #237c52;
  color: #FFF !important;
}

.fc-event:hover{
  background-color: #237c52;
  color: #000000 !important;
}

.alert-info{
  --bs-alert-color: #055160;
  --bs-alert-bg: #ddd;
  --bs-alert-border-color: #ccc;
}

.btn-group button {
  background-color: 	#044d2b;
  color: #fff;
  margin: 0 4px;
}

.btn-group :hover {
  color: #000000;
  background-color: #198754;
}

.fc-center h2 {
  text-transform: uppercase;
  font-size: 22px;
}


.titulo {
  text-align: left;
  position: relative;
  color: #044d2b;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Montserrat",sans-serif;
  font-size: 16px;
  line-height: 22px;
  width: 300px;
  padding: 0 0 5px 0;
  margin: 0 0 15px 0;
  transition: all .2s ease;
}

.video-capa{
  width: 100%;
  height: 375px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  margin-top: 20px;
  border-radius: 10px;
}

.efeito-midia{
  transition: all 0.5s;
    cursor: pointer;
}

.efeito-midia:hover{
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  margin-left: 15px;
  margin-right: 15px;
}

.midia-topo{
  transition: all 1s;
  cursor: pointer;
}

.midia-topo:hover{
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

.nav-item {
  font-weight: 900 !important;
  font-size: 13px !important;
  text-transform: uppercase;
  line-height: 60px;
  color: rgb(50,50,50);
  text-align: center !important;
  padding: 0 10px !important;
  font-family: 'Roboto',sans-serif !important;
}

#logo {
	top:0;
	right:0;
	left:0;
	z-index:10;
  background-color: rgb(255,255,255);
}

#logo-menu {
  display:flex;
  height:140px;
  position: relative;
  z-index: 1;
}
	
#logo-menu img {
  height:140px;
  position: absolute;
  left:60px;
  top:0px;
}

.titulo-logo{
  margin-top: 30px;
  font-size: 30px;
}

.titulo-logo small{
  font-size: 20px;
}

footer {
  color:#FFF;
  background-color:#198754;
}

.desc-conselho{
 text-align: justify;
}


footer .borda-top {
  border-top:10px solid rgba(0,0,0,.5);
  padding-top:30px;
  padding-bottom:40px;
}

footer #nome-ifsul {
  text-transform: uppercase;
  font-family:"Montserrat",sans-serif;
  font-size:16px;
  border-right:1px solid rgba(255,255,255,.3)
}

footer #nome-observatorio {
  font-size:34px;
  font-weight:900;
  font-family:"Montserrat",sans-serif;
  text-transform: uppercase;
  padding-bottom:10px;
  border-right:1px solid rgba(255,255,255,.3)
}

.box-footer {
  background-color: rgba(0,0,0,.2);
  padding:20px;
  text-align:center;
  border-radius:12px;
  display:flex;
  flex-direction: column;
  width:100%;
  margin-top:-10px;
  margin-bottom: 20px;
  border:2px solid 	#FA8072;
}

.box-footer span {
  color:rgb(255,255,255);
  font-size:50px;
}

.logo-footer img {
  height:110px;
}

footer hr {
  background-color: rgba(255,255,255,.5);
}

footer h6 {
  margin:5px 0 !important;
}

footer i {
  font-size:38px !important;
}

.banner-background {
  overflow: hidden;
  background-color: rgba(0,0,0,.1);
  position: relative;
}

.banner-capa {
  position: relative;
  left: 0;
  bottom: 0;
  background-position: center;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

/*----- BREADCRUMB -----*/

.bg-breadcrumb {
  background-color:	#198754;
  margin-bottom:60px;
}

.breadcrumb {
  list-style: none !important;
  font-size: 0.7em !important;
  padding: 15px 0 !important;
  margin: 0px !important;
  font-family: 'Roboto',sans-serif;
  background-color: transparent !important;
  text-align: right !important;
  display: flex;
  justify-content: flex-end;
}

.thumb-foto{
  width: 100%;
  height: 325px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  border-radius: 14px;
  margin-bottom: 10px;
}

.breadcrumb ol {
  position: absolute !important;
  right:0 !important;
  top:0 !important;
}

.breadcrumb a {
  color:rgb(0, 0, 0);
}

.breadcrumb a:hover {
  color:rgb(255, 255, 255) !important;
}


.indisponivel , .empty {
  font-size:20px;
  text-align: center;
  display:block;
  border:1px dashed rgb(200,200,200);
  padding:50px;
  border-radius:12px;
  border-bottom:2px solid rgb(220,220,220);
}

.padding30 {
  padding: 30px;
}

.pastor img{
  text-align: center;
  object-fit: cover;
  width: 400px;
  height: 400px;
  border-radius: 50% !important;
  border: 3px solid #044d2b !important;
}

/*----- BOX EVENTO ----- */

.box-evento {
  /* box-shadow:0 4px 10px rgba(0, 0, 0, 0.07); */
  background-color: #198754;
  border-radius: 8px;
  position: relative;
  display: flex;
  margin:0 0 30px 0 !important;
  overflow-x: auto;
  height: 180px;
}

.box-evento .texto {
  padding: 30px;
  color: #ffffff;
  text-decoration: none;
}

.padding20{
  padding: 30px;
}

.box-evento h4 {
  color:rgb(255, 255, 255);
  font-size:1.25em;
  text-transform: uppercase;
  margin:0 35px 10px 0;
}

.box-evento:hover .tarja {
  border-bottom:2px solid 	#000000;
  right:100%;
}

.box-evento span {
  position: absolute;
  right:-1px;
  top:-1px;
  background-color: rgb(8,96,164);
  color: #FFF;
  padding: 10px 20px 10px 10px;
  z-index: 2;
  font-size: 18px;
}

.box-evento span:after {
  content: "";
  width: 30px;
  height: 100%;
  background: rgb(8,96,164);
  border-radius: 0 0 0 10px;
  transform: skewX(20deg);
  position: absolute;
  top: 0;
  left: -20px;
}

.box-voltar {
  border-top: 1px solid rgb(230,230,230);
  margin-top: 40px;
  padding: 20px 0;
  text-align: right;
}

.lista-departamento-home {
  display:block;
  padding:15px 15px 15px 5px;
  font-size:16px;
  line-height:20px;
  background-color:rgb(245,245,245);
  border-bottom:1px solid rgb(210,210,210);
  border-radius:12px;
  margin:0 0 10px 0 !important;
}

.titulo-bc {
  text-align: left;
  position: relative;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  line-height: 18px;
  width: 300px;
  padding: 10px 0;
  margin: 20px 0;
}

.titulo-interno {
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -1px;
  font-weight: bold;
  text-align: left;
  position: relative;
}

.align-center{
  text-align: center;
}

.swal2-styled.swal2-confirm {
  background-color: #044d2b !important;
}


.box {
  background-color: rgba(0,40,75,.05);
  padding: 15px;
  border-radius: 12px;
  position: relative;
}

.padding-busca {
  padding: 15px;
  border-radius: 8px;
}

h3 {
  font-size: 26px;
  line-height: 120%;
  margin: 20px 0;
}

.navbar-expand-md .navbar-collapse {
  margin-left: 135px;
}

.margin-menu{
  margin-left: 50px !important;
  margin-right: 50px !important;
}

/* ----- MENU ----- */

#posicao-menu {
  position: relative;
}

.menu-nav {
  font-family:'Montserrat',sans-serif !important;
  position: absolute;
  align-content: space-between !important;
  top:0;
  left:0;
  right:0;
}

.menu-ul {
  position:inherit !important;
  width: 100%;
  align-content: space-between !important;
  list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.menu-li-root {
    z-index: 1 !important;
    max-width: 100%;
    justify-content: center !important;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

.menu-li-root:hover .menu-span-items {
    visibility: visible;
}

.menu-a-root {
	  font-weight: 900 !important;
    font-size: 14px !important;
    text-transform: uppercase;
    line-height: 60px;
    color: #198754;
    width: 100% !important;
    text-align: center !important;
    padding: 0 20px !important;
    font-family: 'Montserrat',sans-serif !important;
}

.menu-a-root:hover {
  color:#198754 !important;
}

.menu-span-items {
	background-color: #044d2b !important;
  padding:20px !important;
  border-radius:12px;
  margin-top:100px;
  transition: all .2s ease;
  display: flex;
    top: 100%;
    left: 0;
    right: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}

.menu-li-root:hover .menu-span-items {
  margin-top:0;
}

.menu-span-items p {
  color:rgb(255,255,255) !important;
  padding:10px 0 0 0 !important;
}

.menu-span-sub {
	padding:0 !important;
	text-align:left !important;
    display: flex;
    flex-grow: 1;
    min-width: 33%;
    flex-direction: column;
}

.menu-span-sub ul {
  list-style: none !important;
  margin:0 !important;
  padding:0px 15px!important;
}

.menu-span-sub h3 {
  font-size:1em;
  font-family:'Montserrat';
  font-weight:bold;
  margin:0;
  padding:10px 10px 15px 10px;
  color:#FFF;
}

.menu-li-link {
  list-style: none;
  margin:0;
  padding:0;
}

.menu-a-link {
	display: block;
	padding:7px 0;
  color:rgba(255,255,255,.5) !important;
	font-size:12.8px;
  text-transform: uppercase;
  font-weight:500;
  letter-spacing: .75px;
  border-bottom:1px solid rgba(255,255,255,.2);
}

.menu-a-link:hover {
  color:#FFF;
}

.menu-span-sub p {
  color:rgba(255,255,255,.5) !important;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before{
  content:none  !important;
}

.form-group{
  margin-bottom: 8px;
}